* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333; /* Texto gris oscuro */
    font-family: 'Poppins'; /* Tipo de fuente */
}

button {
    cursor: pointer;
    padding: 10px;
}

.container {
    width: min(1200px, 90%);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #a5a5a5; /* Fondo gris claro para el encabezado */
}

.container-header {
    color: #333; /* Texto gris oscuro para el encabezado */
    padding: 10px;
    text-align: center;
}

.container-body {
    margin-top: 20px;
    min-height: 500px;
}

.container-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    color: #333; /* Texto gris oscuro */
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 200px;
    background-color: #e6e6e6;
    border: 1px solid black
}

.btn {
    color: #333; /* Texto gris oscuro para los botones */
    padding: 10px 20px;
    cursor: pointer;
}

/* Agrega más estilos según sea necesario para tus tarjetas */

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    color: #333; /* Texto gris oscuro para el pie de página */
    text-align: center;
}

.total {
    font-weight: bold;
}

.radio-buttons {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
}

.card {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.drink_img {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
